.box {
  border: 1px solid black;
  height: 15rem;
  width: 8rem;
  display: flex;
  flex-direction: column;
}
.light {
  border: 1px solid black;
  height: 4rem;
  width: 4rem;
  margin: auto;
  border-radius: 2rem;
}
.red {
  background-color: red;
}
.yellow {
  background-color: yellow;
}
.green {
  background-color: green;
}
